﻿@page "/"
@inject StateContainer StateContainer
@implements IAsyncDisposable

<RadzenButton Icon="add_task" Text="New Task" ButtonStyle="ButtonStyle.Light" Click="@OnClickAddTask"/>
<RadzenButton Icon="note_add" Text="New Note" ButtonStyle="ButtonStyle.Light" Click="@OnClickAddNote"/>

<div class="notes">
    @foreach (var note in Notes)
    {
        <TreeItem Data="@note" DeleteNoteAction="@(() => RemoveNote(note))"/>
    }
</div>

@code {

    public List<TodoItem> Notes => StateContainer.Notes;

    private async Task OnClickAddTask()
    {
        Notes.Add(new TodoItem(TodoItemType.Task, "New Task"));
        await StateContainer.PushNotes();
    }

    private async Task OnClickAddNote()
    {
        Notes.Add(new TodoItem(TodoItemType.Note, "New Note"));
        await StateContainer.PushNotes();
    }

    public async Task RemoveNote(TodoItem note)
    {
        Notes.Remove(note);
        await StateContainer.PushNotes();
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        StateContainer.OnChangeNotes += StateHasChanged;
        StateContainer.PullNotes();
    }

    public async ValueTask DisposeAsync()
    {
        StateContainer.OnChangeNotes -= StateHasChanged;
        await StateContainer.PushNotes();
    }

}