@inject ContextMenuService ContextMenuService
@inject StateContainer StateContainer

<div class="tree-item">
    <div class="tree-header @(Data.Collapsed ? "hidden" : "")"
         @oncontextmenu="@ShowContextMenu"
         @oncontextmenu:preventDefault="true">
        <div class="tree-collapse-button" @onclick="@OnClickCollapse">
            <RadzenIcon Icon="@(Data.Collapsed ? "arrow_right" : "arrow_drop_down")"/>
        </div>
        
        @if (Data.ItemType == TodoItemType.Task)
        {
            <RadzenCheckBox TValue="bool" @bind-Value="@Data.Completed" Change="OnChangeCompletion"/>
        }
        
        @if (_editMode)
        {
            // binding needs to be triggered by the "input" event instead of the "change" event because we are capturing
            // the Enter keypress (with onkeydown) to trigger exiting edit mode.
            <input type="text"
                   @bind="@Data.Content"
                   @bind:event="oninput"
                   @onkeydown="@OnEditModeKeydown"
                   @onfocusout="@ExitEditMode"
                   @ref="_textBox"/>
        }
        else
        {
            <span class="tree-name" @ondblclick="@OnClickEditNote">@Data.Content</span>
        }
        @if (Data.TasksTotal > 1)
        {
            <RadzenProgressBar Value="@Data.TasksComplete"
                               Max="@Data.TasksTotal"
                               Unit=@($" / {Data.TasksTotal}")
                               class="tree-task-progress-bar"
                               @ref="_progressBar"/>
        }
    </div>
    <div class="tree-children @(Data.Collapsed ? "hidden" : "")">
        @foreach (var child in Data.Children)
        {
            <TreeItem Data="@child"
                      DeleteNoteAction="@(() => RemoveChildItem(child))"
                      UpdateParentProgressBarsAction="UpdateProgressBars"/>
        }
    </div>
</div>

@code {
    [Parameter]
    public TodoItem Data { get; set; }

    [Parameter]
    public Action DeleteNoteAction { get; set; }
    
    [Parameter]
    public Action UpdateParentProgressBarsAction { get; set; }

    private RadzenProgressBar _progressBar;

    // Store a reference to the edit mode box so that we can focus it.
    private ElementReference _textBox;
    private bool _editMode = false;

    private async void OnClickCollapse()
    {
        Data.Collapsed = !Data.Collapsed;
        await StateContainer.PushNotes();
    }
    
    private async void OnClickAddTask()
    {
        Data.AddNote(new TodoItem(TodoItemType.Task, "New Task"));
        UpdateProgressBars();
        await StateContainer.PushNotes();
    }

    private async void OnClickAddNote()
    {
        Data.AddNote(new TodoItem(TodoItemType.Note, "New Note"));
        await StateContainer.PushNotes();
    }

    private void OnClickEditNote()
    {
        _editMode = true;
    }

    // This function takes every keystroke on the textbox and exits edit mode if enter or escape is pressed.
    private void OnEditModeKeydown(KeyboardEventArgs ev)
    {
        switch (ev.Key)
        {
            case "Enter":
            case "Escape":
                ExitEditMode();
                break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // If the render happens and we are in edit mode, we should grab focus
        if (_editMode) await _textBox.FocusAsync();
    }

    private async void ExitEditMode()
    {
        _editMode = false;
        await StateContainer.PushNotes();
    }

    // This function is put in wrappers so that children notes can "delete themselves" using a reference to the parent
    // object's method.
    private void RemoveChildItem(TodoItem item)
    {
        Data.RemoveChild(item);
        UpdateProgressBars();
    }
    
    private void UpdateProgressBars()
    {
        UpdateParentProgressBarsAction?.Invoke();
        StateHasChanged();
    }
    
    private async void OnChangeCompletion()
    {
        UpdateProgressBars();
        await StateContainer.PushNotes();
    }

    private void ShowContextMenu(MouseEventArgs args)
    {
        ContextMenuService.Open(args, ds => @<RadzenMenu Click="OnMenuItemClick">
            @if(Data.ItemType == TodoItemType.Task){
                <RadzenMenuItem Text="New Task" Value="@("add_task")"></RadzenMenuItem>
            }
            <RadzenMenuItem Text="New Note" Value="@("add_note")"></RadzenMenuItem>
            <RadzenMenuItem Text="Remove Item" Value="@("remove_task")"></RadzenMenuItem></RadzenMenu>);

    }

    private void OnMenuItemClick(MenuItemEventArgs args)
    {
        switch(args.Value)
        {
            case "add_note":
                OnClickAddNote();
                ContextMenuService.Close(); //Hide menu
                break;
            case "add_task":
                OnClickAddTask();
                ContextMenuService.Close();
                break;
            case "remove_task":
                DeleteNoteAction();
                ContextMenuService.Close();
                break;
        }
    }


}